/chars.py
/file.py
/file2.py
/file3.py
/file4.py
/file5.py
/FileFolder
/list1.txt
/numberofcores
/originallinks.txt
/sample.txt
/samples1.txt
/samples2.csv
/samples2.txt
/sample_new1.csv
/sample_new2.csv
/sample_new300.csv
/sample_new600.csv
/smallfile.py
/SubFiles.zip
/test.py